/* Caienlei Beijing, 2011-1-11 */
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,blockquote,pre,form,fieldset,legend,textarea,hr{margin:0;padding:0;}

img{border:0;}
table{border-collapse:collapse;border-spacing:0;}
li{list-style:none;}
em{font-style:normal;}
body{font:12px/1.8 Arial,Tahoma,Helvetica,SimSun,san-serif;overflow-x:hidden;}

/* link-color & font-size */
a{
	text-decoration:none;
}
a:hover{
	background-color:#039;
	color:#FFF;
}
span, .meta{
	color:#AAA;
	font-size:11px;
}
nav a{
	color:#A00;
	font-size:18px;
	font-weight:700;
}
article{
	font-size:14px;
}
.posts  h1{
	font-size:16px;
	font-weight:700;
	font-family:\5FAE\8F6F\96C5\9ED1;
}
.posts li{
	list-style:circle inside;
}
.meta{
	margin-top:0;
}
code, .code{
	background-color:#EEF;
	border:1px solid #DEDEDE;
	font-size:12px;
	padding:0 6px;
}
/* layout */
#container{
	width:560px;
	margin:0 auto;
}
nav{
	margin:20px 0;
}
footer{
	border-top:3px solid #EEE;
	margin:24px 0 0;
}
article h2{
	font-size:14px;
	margin:12px 0;
}
.related{
	border-bottom:3px solid #EEE;
	padding-bottom:6px;
}
/* fork me on github */
header a{
	display:block;
	width:300px;
	background-color:#A00;
	border:1px solid #D38080;
	text-align:center;
	padding:0 0 2px;
	color:#FFF;
	font-size:14px;
	font-weight:700;
	text-decoration:none;
	position:absolute;
	top:60px;
	right:-80px;
	-webkit-box-shadow:2px 2px 20px #888;
	-webkit-transform:rotate(45deg);
	-moz-box-shadow:2px 2px 20px #888;
	-moz-transform:rotate(45deg);
	box-shadow:2px 2px 20px #888;
	ransform:rotate(45deg);
}
header a:hover{
	background-color:#AA0091;
	-webkit-box-shadow:2px 2px 40px #888;
	-moz-box-shadow:2px 2px 40px #888;
	box-shadow:2px 2px 40px #888;
}