<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8"/>
<title>{{ page.title }}</title>
<link rel="stylesheet" href="/css/screen.css" />
</head>
<body>
<div class="wrap">
	<div id="header">
		<h1><a href="#">Charies</a></h1>
		<div class="nav">
			<ul>
				<li><a class="host" href="/" title="">EnLei-Cai</a></li>
			</ul>
		</div>
	</div>
	{{ content }}
	<div id="footer">
		<p>
			<span class="mark">EnLei</span>, <a href="http://blog.sina.com.cn/w3c/" class="out-link">sina blog</a>
		</p>
		<div>
			<a href="http://t.sina.com.cn/caienlei/" class="out-link">t.sina.com.cn/caienlei</a>
		</div>
		<div>
			<a href="http://www.douban.com/people/charies/" class="out-link">douban.com/people/charies</a>
		</div>
	</div>
</div>
<a class="fork-me" href="http://github.com/enleicai/"><img src="/images/forkme.png" width="149" height="149" alt="Fork me on GitHub" /></a>
</body>
</html>